<article{% if post.visible == false %} class="invisible"{% endif %}>
  <header>
    <h2><a title="permanent link to this post" href="{{post.perm_uri}}">{{post.subject}}</a></h2>
    {{post.published}}
    <details open>Published at <time pubdate datetime="{{post.published|date:"Y-m-dTH:i:SZ"}}">{{post.published|date:"d/m/Y, P"}}</time> by <a href="mailto:{{post.author.email}}">{{post.author.name}}</a>{% if post.updated > post.published %}, updated at {{post.updated|date: "d/m/Y, P"}}{% endif %}
    {% if post.tags %}<br />Filed under: <%
      p.tags.each do |t|
      %><a href="<%= Burp::Dispatcher.abs_uri(:path => 'tags',:params => [t.tag]) %>"><%= t.tag %></a><% if(t != p.tags.last) then %>, <% end end %>{% endif %}</details>
  </header>

  {% if post.excerpt %}<aside>{{post.excerpt}}</aside>{% endif %}

  {{post.content}}

  {% if details %}

  <section id="comments">
    {% if pingbacks %}
    <header>
      <h3>Pingbacks</h3>
    </header>
    <ol id="pingbackslist">
      {% for pingback in pingback %}
      <li><a href="{{pingback.uri}}">{{pingback.title}}</a></li>
      {% endfor %}
    </ol>
    {% endif %}

    <header>
      <h3>0 Comments</h3>
      <details open>Kommentar-Feed: <a href="{{post_rss_uri}}">RSS</a> / <a href="{{post_atom_uri}}">Atom</a></details>
    </header>

    {% for comment in comments %}
    {% include 'posts/comment.html' %}
    {% endfor %}

    <!-- if(@post.attrib_yes?('comments')) then %><%== Burp::Template.load('comments/comment_form.rhtml') %><% end -->
  </section>

  {% else %}
  <details class="trenner" open><a href="{{post.perm_uri}}#comments">0 comments<!--{post.comments|length}--></a></details>
  {% endif %}
</article>
